.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  box-shadow: 1px 1px 18px -1px #05829a;
  border-radius: 70px 25px;
  width: 500px;
}
